.direction{color:black;
font-family:'Times New Roman','Times New Roman', Times, serif,monospace;
font-size:medium;
background-color:beige;
}
.speech{color:black;
font-family:'Courier New',Courier,monospace;
font-size:medium;
}
.direction:hover{color:rgb(227, 166, 26);
background-color:rgb(59, 21, 53);
}
.lane{color:rgb(147,160,76);
font-family:'Courier New',Courier,monospace;
font-size:17;
}
.bauer{color:rgb(60,50,203);
font-family:'Courier New',Courier,monospace;
font-size:17;
}
tr:nth-child(even){
    background-color:aqua;
    color:rgb(81, 86, 10);
}
td{border:2px;
padding:8px;
text-align:left;
}
table{margin:9px;
}
th{
    padding-bottom:12px;
    padding-top:12px;
    text-align:left;
    background-color:rgb(81, 86, 10);
    color:rgb(60,50,203);
}